<form action="/s/explore/maintenance/import-collection" method="post">
    <textarea name="collection" id="collection" class="w-full h-96 mb-2" placeholder="Paste the export string"></textarea>
    <p class="text-xs text-gray-500 mb-4">The export string should look something like this <b>"Karl gets drunk, Oscar not amused...";"no words...";"SGV_10P_00895,SGV_10P_00896,SGV_10P_00898,SGV_10P_00900,SGV_10P_00899"</b></p>
    <button type="submit" class="px-3 py-2 border border-black">Import collection</button>
</form>