<?php
$translate = $this->plugin('translate');
?>
<nav class="pagination w-full p-4" role="navigation">

    <div class="flex items-center <?= $pageCount > 1 ? 'justify-between' : 'justify-around' ?> w-full">

        <?php if ($pageCount > 1) : ?>
            <?php if ($currentPage != 1) : ?>
                <?php echo $this->hyperlink('Previous', $previousPageUrl, ['class' => 'previous px-4 py-2 border border-black rounded-full bg-white text-black hover:bg-black hover:text-white', 'title' => $translate('Previous'), 'aria-label' => $translate('Previous')]); ?>
            <?php else : ?>
                <span class="previous px-4 py-2 border border-gray-500 rounded-full bg-white text-gray-500">Previous</span>
            <?php endif; ?>
        <?php endif; ?>

        <form id="sort" method="GET" action="" class="flex gap-4 items-center px-4 py-2 border border-black rounded-full bg-white text-black" style="margin: 0 auto;">
            <?php
            $from = $offset + 1;
            $to = ($currentPage < $pageCount) ? $offset + $perPage : $totalCount;
            ?>
            <span class="row-count text-xs"><?php echo sprintf($translate('%1$s–%2$s of %3$s'), $from, $to, $totalCount); ?></span>

            <?php echo $this->queryToHiddenInputs(['page']); ?>
            <!--<input type="text" name="page" class="page-input-top py-1 border-b border-black w-6" value="<?php echo $currentPage; ?>" size="4" <?php echo ($pageCount == 1) ? 'readonly' : ''; ?> aria-label="<?php echo $translate('Page'); ?>">
        <span class="page-count"><?php echo sprintf($translate('of %s'), $pageCount); ?></span>-->

            &mdash;

            <p>
                <span>Show</span>
                <label class="cursor-pointer ml-2 <?= ($_REQUEST['per_page'] ?? '25') == '25' ? 'text-black' : 'text-gray-400' ?> hover:text-black">
                    25 <input type="radio" name="per_page" value="25" class="hidden" onchange="document.querySelector('#sort').submit()">
                </label>
                <label class="cursor-pointer ml-2 <?= ($_REQUEST['per_page'] ?? '25') == '50' ? 'text-black' : 'text-gray-400' ?> hover:text-black">
                    50 <input type="radio" name="per_page" value="50" class="hidden" onchange="document.querySelector('#sort').submit()">
                </label>
                <label class="cursor-pointer ml-2 <?= ($_REQUEST['per_page'] ?? '25') == '100' ? 'text-black' : 'text-gray-400' ?> hover:text-black">
                    100 <input type="radio" name="per_page" value="100" class="hidden" onchange="document.querySelector('#sort').submit()">
                </label>
            </p>
        </form>

        <?php if ($pageCount > 1) : ?>
            <?php if ($currentPage < $pageCount) : ?>
                <?php echo $this->hyperlink('Next', $nextPageUrl, ['class' => 'next px-4 py-2 border border-black rounded-full bg-white text-black hover:bg-black hover:text-white', 'title' => $translate('Next'), 'aria-label' => $translate('Next')]); ?>
            <?php else : ?>
                <span class="next previous px-4 py-2 border border-gray-500 rounded-full bg-white text-gray-500">Next</span>
            <?php endif; ?>
        <?php endif; ?>

    </div>
</nav>