<?php
$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
?>
<form class="sorting" action="">
    <?php echo $this->queryToHiddenInputs(['sort_by', 'sort_order']); ?>
    <select name="sort_by" aria-label="<?php echo $translate('Sort by'); ?>" class="p-2">
    <?php foreach($sortBy as $sortByHeading): ?>
        <?php $selected = ($sortByQuery === $sortByHeading['value']) ? 'selected' : ''; ?>
        <option value="<?php echo $escape($sortByHeading['value']); ?>" <?php echo $selected; ?>><?php echo $sortByHeading['label']; ?></option>
    <?php endforeach; ?>
    </select>
    <select name="sort_order" aria-label="<?php echo $translate('Sort order'); ?>" class="p-2">
        <option value="asc" <?php echo ($sortOrderQuery === 'asc') ? 'selected' : ''; ?>><?php echo $translate('Ascending'); ?></option>
        <option value="desc" <?php echo ($sortOrderQuery === 'desc') ? 'selected' : ''; ?>><?php echo $translate('Descending'); ?></option>
    </select>
    <button type="submit" class="border border-black px-4 py-1 bg-white hover:bg-black hover:text-white rounded-full"><?php echo $translate('Sort'); ?></button>
</form>
