<?php

$item_set_id = 0;

foreach ($context->itemSets() as $key => $item_set) {
    $item_set_id = $item_set->id();
}

$items = $this->api()
    ->search('items', [
        'item_set_id' => $item_set_id,
    ])->getContent()

?>

<form action="/s/explore/contexts/update" method="post" class="context">
    <div class="w-1/5 float-left overflow-y-auto" style="max-height: calc(100vh - 160px);">
        <?= $this->partial('participatory-archives/common/render-items-sidebar', [
            'items' => $items
        ]) ?>
    </div>

    <div class="w-4/5 pl-4 float-left" style="min-height: 300px;">
        <div class="quill-image" data-target="dataset" class="w-full mt-1 border border-gray-300 bg-white p-1 px-2"></div>
        <textarea name="dataset" placeholder="Note" class="hidden"><?= $context->value('schema:dataset') ?></textarea>
        <button type="submit" class="save px-3 py-2 mt-4 border border-black rounded-full hover:bg-black hover:text-white">Save context</button>
    </div>

    <input type="hidden" name="context_id" value="<?= $context->id() ?>">
    <input type="hidden" name="name" value="<?= $context->displayTitle() ?>">
    <input type="hidden" name="description" value="<?= $context->value('schema:description') ?>">
    <input type="hidden" name="type" value="<?= $context->value('dcterms:type') ?>">
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let el = document.querySelector('.quill-image'),
            editor = new Quill(el, {
                theme: 'snow',
                modules: {
                    toolbar: [
                        [{
                            'header': [2, 3, false]
                        }],
                        ['bold', 'italic', 'underline', 'strike'],
                        ['link', 'image'],
                        [{
                            list: 'ordered'
                        }, {
                            list: 'bullet'
                        }]
                    ]
                }
            }),
            textarea = document.querySelector('textarea[name="' + el.dataset.target + '"]');

        if (textarea.value != '') {
            editor.root.innerHTML = textarea.value;
        }

        editor.on('text-change', function(delta, oldDelta, source) {
            textarea.value = editor.root.innerHTML
        });

        document
            .querySelectorAll('.draggable')
            .forEach(e => {
                e.setAttribute('draggable', 'true')
                e.ondragstart = ev => {
                    let wrapper = document.createElement('div');
                    wrapper.appendChild(ev.target.cloneNode(true));

                    ev.dropEffect = 'copy'
                    ev.effectAllowed = 'copy'
                    ev.dataTransfer.setData('text/html', wrapper.innerHTML)
                }
                // e.ondragover = ev => {
                //     ev.preventDefault();
                // }
                e.ondragend = ev => {
                    var data = ev.dataTransfer.getData("text/html");
                    var index = editor.getSelection(true).index;
                    editor.insertEmbed(index, 'html', data)
                }
            })

        function onDrop(event) {
            editor.setSelection(0);
        }
    })
</script>