<?php

$item_set_id = 0;

foreach ($context->itemSets() as $key => $item_set) {
    $item_set_id = $item_set->id();
}

$items = $this->api()
    ->search('items', [
        'item_set_id' => $item_set_id,
    ])->getContent();

?>

<div class="flex gap-4" style="max-height: calc(100vh - 205px);">
    <?= $this->partial('participatory-archives/common/render-items-sidebar', [
        'items' => $items
    ]) ?>

    <div class="canvas-wrapper w-4/5 min-h-full relative z-50">
        <div class="wrapper dropzone w-full h-full overflow-auto">
            <div class="canvas relative bg-white">
            </div>
        </div>
        <button type="button" class="fullscreen absolute top-2 right-2 rounded-full inline-block border border-black text-center hover:bg-black hover:text-white" style="width: 32px; height: 32px;">⤧</button>
    </div>


    <style>
        .canvas {
            width: 4000px;
            height: 4000px;
        }
    </style>

</div>

<div class="flex flex-row justify-center mt-4 gap-4">
    <div class="flex slide-nav gap-4"></div>
    <a href="/s/explore/contexts/edit/<?= $context->id() ?>" class="save px-3 py-2 border border-black rounded-full hover:bg-black hover:text-white">Edit context</a>
</div>

<script>
    let wrapper, canvas, slides = (<?= $context->value('schema:dataset') ? $context->value('schema:dataset') : '[]' ?>),
        current_slide = 0;

    document.addEventListener('DOMContentLoaded', () => {

        wrapper = document.querySelector('.wrapper');
        canvas = document.querySelector('.canvas');

        setTimeout(() => {
            wrapper.scrollLeft = (wrapper.scrollWidth - wrapper.clientWidth) / 2;
            wrapper.scrollTop = (wrapper.scrollHeight - wrapper.clientHeight) / 2;
        }, 250);

        init_slide_nav();
        load_current();

        canvas.addEventListener('mousedown', canvas_mouse_down);

        document.querySelector('.fullscreen').addEventListener('click', () => {
            toggle_fullscreen();
        })

        document.addEventListener('keyup', function(event) {
            const key = event.key;

            console.log(key)

            switch (event.key) {
                case "Escape":
                    toggle_fullscreen();
                    break;
                case "ArrowRight":
                    if (current_slide + 1 < slides.length) {
                        current_slide++;
                    }
                    load_current();
                    init_slide_nav();
                    break;
                case "ArrowLeft":
                    if (current_slide - 1 >= 0) {
                        current_slide--;
                    }
                    load_current();
                    init_slide_nav();
                    break;
            }
        });

    });

    function canvas_mouse_down(event) {
        if (event.target.classList.contains('canvas')) {
            wrapper.style.cursor = 'grabbing';
            wrapper.style.userSelect = 'none';

            canvas_position = {
                left: wrapper.scrollLeft,
                top: wrapper.scrollTop,

                x: event.clientX,
                y: event.clientY,
            };

            canvas.addEventListener('mousemove', canvas_mouse_move);
            canvas.addEventListener('mouseup', canvas_mouse_up);
        }
    };

    function canvas_mouse_move(event) {
        // How far the mouse has been moved
        const dx = event.clientX - canvas_position.x;
        const dy = event.clientY - canvas_position.y;

        // Scroll the element
        wrapper.scrollTop = canvas_position.top - dy;
        wrapper.scrollLeft = canvas_position.left - dx;
    };

    function canvas_mouse_up() {
        canvas.removeEventListener('mousemove', canvas_mouse_move);
        canvas.removeEventListener('mouseup', canvas_mouse_up);

        wrapper.style.cursor = 'grab';
        wrapper.style.removeProperty('user-select');
    };

    function init_slide_nav() {
        document.querySelector('.slide-nav').innerHTML = '';

        slides.forEach((el, i) => {
            add_slide_nav_button(i);
        })
    }

    function add_slide_nav_button(i) {
        let btn = document.createElement('button');

        btn.type = 'button';
        btn.innerHTML = i + 1;
        btn.classList.add('px-3', 'py-2', 'border', 'border-black', 'rounded-full')

        if (i == current_slide) {
            btn.classList.add('bg-black', 'hover:bg-white', 'text-white', 'hover:text-black')
        } else {
            btn.classList.add('hover:bg-black', 'hover:text-white')
        }

        btn.dataset.target = i;

        btn.addEventListener('click', (event) => {
            current_slide = parseInt(event.currentTarget.dataset.target);
            load_current();
            init_slide_nav();
        })

        document.querySelector('.slide-nav').appendChild(btn);
    }

    function load_current() {
        if (slides[current_slide].data != '') {
            document.querySelector('.canvas').innerHTML = slides[current_slide].data.replace('\"', '"');
        } else {
            document.querySelector('.canvas').innerHTML = '';
        }

        document.querySelectorAll('.dropped').forEach((element) => {
            element.href = element.dataset.url;
            element.target = '_blank';
        })
    }

    function toggle_fullscreen() {
        let canvas_wrapper = document.querySelector('.canvas-wrapper'),
            slide_nav = document.querySelector('.slide-nav');

        canvas_wrapper.classList.toggle('relative');
        canvas_wrapper.classList.toggle('fixed');
        canvas_wrapper.classList.toggle('w-screen');
        canvas_wrapper.classList.toggle('h-screen');
        canvas_wrapper.classList.toggle('top-0');
        canvas_wrapper.classList.toggle('left-0');

        wrapper.scrollLeft = (wrapper.scrollWidth - wrapper.clientWidth) / 2;
        wrapper.scrollTop = (wrapper.scrollHeight - wrapper.clientHeight) / 2;

        slide_nav.classList.toggle('fixed');
        slide_nav.classList.toggle('z-50');
        slide_nav.classList.toggle('bottom-4');
    }
</script>