<?php

$item_set_id = 0;

foreach ($context->itemSets() as $key => $item_set) {
    $item_set_id = $item_set->id();
}

$items = $this->api()
    ->search('items', [
        'item_set_id' => $item_set_id,
    ])->getContent();

?>

<div class="w-1/5 float-left overflow-y-auto" style="max-height: calc(100vh - 160px);">
    <?= $this->partial('participatory-archives/common/render-items-sidebar', [
        'items' => $items
    ]) ?>
</div>

<div class="note-wrapper w-4/5 min-h-full relative z-50 float-left">
    <div class="note bg-white p-4 ml-2"><?= $context->value('schema:dataset') ?></div>
    <div class="pt-4 pl-2">
        <a href="/s/explore/contexts/edit/<?= $context->id() ?>" class="save px-3 py-2 border border-black rounded-full hover:bg-black hover:text-white">Edit context</a>
    </div>
</div>


<div class="flex flex-row justify-center mt-4 gap-4">
    <div class="flex slide-nav gap-4"></div>

</div>