<?php

$item_set_id = 0;

foreach ($context->itemSets() as $key => $item_set) {
    $item_set_id = $item_set->id();
}

$items = $this->api()
    ->search('items', [
        'item_set_id' => $item_set_id,
    ])->getContent()

?>

<div class="flex gap-4" style="max-height: calc(100vh - 205px);">
    <?= $this->partial('participatory-archives/common/render-items-sidebar', [
        'items' => $items
    ]) ?>
    <?php if ($context->value('dcterms:type') == '1') : ?>

        <div class="w-4/5 min-h-full">
            <div class="wrapper dropzone w-full h-full overflow-auto">
                <div class="canvas relative bg-white">

                </div>
            </div>
        </div>

        <style>
            .canvas {
                width: 4000px;
                height: 4000px;
            }

            .canvas:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0px;
                left: 50%;
                border-right: 1px solid #ddd;
            }

            .canvas:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0px;
                top: 50%;
                border-bottom: 1px solid #ddd;
            }
        </style>

    <?php endif; ?>

</div>

<div class="flex flex-row justify-center mt-4 gap-4">
    <button type="button" class="add-text px-3 py-2 border border-black rounded-full hover:bg-black hover:text-white">Add text</button>
    <button type="button" class="add-slide px-3 py-2 border border-black rounded-full hover:bg-black hover:text-white">Add slide</button>
    <button type="button" class="remove-slide px-3 py-2 border border-black rounded-full hover:bg-black hover:text-white">Remove current slide</button>
    <div class="flex slide-nav gap-4"></div>
    <form action="/s/explore/contexts/update" method="post" class="context">
        <input type="hidden" name="context_id" value="<?= $context->id() ?>">
        <input type="hidden" name="name" value="<?= $context->displayTitle() ?>">
        <input type="hidden" name="description" value="<?= $context->value('schema:description') ?>">
        <input type="hidden" name="type" value="<?= $context->value('dcterms:type') ?>">
        <input type="hidden" name="dataset" class="dataset" value="">
        <button type="submit" class="save px-3 py-2 border border-black rounded-full hover:bg-black hover:text-white">Save context</button>
    </form>
</div>

<script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
<script>
    let wrapper, canvas, images, slides = (<?= $context->value('schema:dataset') ? $context->value('schema:dataset') : '[]' ?>),
        current_slide = 0,
        dragged_item, canvas_position = {
            top: 0,
            left: 0,
            x: 0,
            y: 0
        };

    document.addEventListener('DOMContentLoaded', () => {

        /* slide management */
        if (slides.length == 0) {
            slides.push({
                'data': ''
            })
        }

        init_slide_nav()

        document.querySelector('.add-text').addEventListener('click', () => {
            add_text();
        })

        document.querySelector('.add-slide').addEventListener('click', () => {
            slides.push({
                'data': ''
            });
            init_slide_nav();
        })

        document.querySelector('.remove-slide').addEventListener('click', () => {
            slides.splice(current_slide, 1);
            current_slide = 0;
            load_current();
            init_slide_nav();
        })

        load_current();

        /* drag and drop things */

        wrapper = document.querySelector('.wrapper');
        canvas = document.querySelector('.canvas');

        setTimeout(() => {
            wrapper.scrollLeft = (wrapper.scrollWidth - wrapper.clientWidth) / 2;
            wrapper.scrollTop = (wrapper.scrollHeight - wrapper.clientHeight) / 2;
        }, 250);

        init_canvas();

        canvas.addEventListener('dragover', (event) => {
            event.preventDefault();
        });

        canvas.addEventListener('drop', (event) => {

            event.preventDefault();

            dragged_item.classList.remove('border', 'border-blue-500', 'border-2')

            let item = dragged_item.cloneNode(true);

            item.classList.add('dropped')
            item.classList.remove('draggable')

            item.style.width = '300px';
            item.style.position = 'absolute'

            item.addEventListener('click', (event) => {
                bring_to_front(event.target);
            })

            item.addEventListener('dblclick', (event) => {
                remove_item(event.target);
            })

            canvas.appendChild(item)
            bring_to_front(item);

            item.style.left = event.clientX - wrapper.getBoundingClientRect().left + wrapper.scrollLeft + 'px'
            item.style.top = event.clientY - wrapper.getBoundingClientRect().top + wrapper.scrollTop + 'px'

            let delete_btn = document.createElement('span');

            save_current();
        });

        canvas.addEventListener('mousedown', canvas_mouse_down);

        document.querySelector('.save').addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelector('.dataset').value = JSON.stringify(slides);
            document.querySelector('.context').submit();
        });

    });

    function init_canvas() {
        let images = document.querySelectorAll('.draggable');

        images.forEach(image => {
            image.addEventListener('dragstart', (event) => {
                dragged_item = event.target;
                dragged_item.classList.add('border', 'border-blue-500', 'border-2')
            });
        });

        document.querySelectorAll('.dropped').forEach((el) => {
            el.addEventListener('click', (event) => {
                bring_to_front(event.target);
            })
            el.addEventListener('dblclick', (event) => {
                remove_item(event.target);
            })
        })

        document.querySelectorAll('.textbox').forEach((el) => {
            el.addEventListener('click', (event) => {
                bring_to_front(event.target);
            })
            el.addEventListener('dblclick', (event) => {
                remove_item(event.target);
            })
        })
    }

    interact('.dropped')
        .resizable({

            edges: {
                left: true,
                right: true,
                bottom: true,
                top: true
            },

            listeners: {
                move(event) {
                    var target = event.target
                    var x = (parseFloat(target.getAttribute('data-x')) || 0)
                    var y = (parseFloat(target.getAttribute('data-y')) || 0)

                    target.style.width = event.rect.width + 'px'
                    target.style.height = event.rect.height + 'px'

                    x += event.deltaRect.left
                    y += event.deltaRect.top

                    target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

                    target.setAttribute('data-x', x)
                    target.setAttribute('data-y', y)

                    save_current();
                }
            },
            modifiers: [
                interact.modifiers.restrictEdges({
                    outer: 'parent'
                }),

                interact.modifiers.restrictSize({
                    min: {
                        width: 100
                    }
                }),

                interact.modifiers.aspectRatio({
                    ratio: 'preserve',
                }),

            ],
        })
        .draggable({

            modifiers: [
                interact.modifiers.snap({
                    targets: [
                        interact.snappers.grid({
                            x: 20,
                            y: 20
                        })
                    ],
                    range: Infinity,
                    relativePoints: [{
                        x: 0,
                        y: 0
                    }]
                }),
                interact.modifiers.restrictRect({
                    restriction: 'parent',
                    endOnly: true
                })
            ],

            autoScroll: true,

            listeners: {

                move: dragMoveListener,

                end(event) {

                }
            }
        })

    interact('.textbox')
        .resizable({

            edges: {
                left: true,
                right: true,
                bottom: true,
                top: true
            },

            listeners: {
                move(event) {
                    var target = event.target
                    var x = (parseFloat(target.getAttribute('data-x')) || 0)
                    var y = (parseFloat(target.getAttribute('data-y')) || 0)

                    target.style.width = event.rect.width + 'px'
                    target.style.height = event.rect.height + 'px'

                    x += event.deltaRect.left
                    y += event.deltaRect.top

                    target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

                    target.setAttribute('data-x', x)
                    target.setAttribute('data-y', y)

                    save_current();
                }
            },
            modifiers: [
                interact.modifiers.restrictEdges({
                    outer: 'parent'
                }),

                interact.modifiers.restrictSize({
                    min: {
                        width: 100
                    }
                }),
            ],
        })
        .draggable({

            modifiers: [
                interact.modifiers.restrictRect({
                    restriction: 'parent',
                    endOnly: true
                })
            ],

            autoScroll: true,

            listeners: {

                move: dragMoveListener,

                end(event) {

                }
            }
        })



    function dragMoveListener(event) {
        var target = event.target

        var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
        var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

        target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

        target.setAttribute('data-x', x)
        target.setAttribute('data-y', y)

        save_current();
    }

    function canvas_mouse_down(event) {
        if (event.target.classList.contains('canvas')) {
            wrapper.style.cursor = 'grabbing';
            wrapper.style.userSelect = 'none';

            canvas_position = {
                left: wrapper.scrollLeft,
                top: wrapper.scrollTop,

                x: event.clientX,
                y: event.clientY,
            };

            canvas.addEventListener('mousemove', canvas_mouse_move);
            canvas.addEventListener('mouseup', canvas_mouse_up);
        }
    };

    function canvas_mouse_move(event) {
        const dx = event.clientX - canvas_position.x;
        const dy = event.clientY - canvas_position.y;

        wrapper.scrollTop = canvas_position.top - dy;
        wrapper.scrollLeft = canvas_position.left - dx;
    };

    function canvas_mouse_up() {
        canvas.removeEventListener('mousemove', canvas_mouse_move);
        canvas.removeEventListener('mouseup', canvas_mouse_up);

        wrapper.style.cursor = 'grab';
        wrapper.style.removeProperty('user-select');

        save_current();
    };

    function add_text() {
        let item = document.createElement('div');

        item.classList.add('textbox')

        item.style.width = '300px';
        item.style.height = '300px';
        item.style.position = 'absolute'

        item.innerHTML = 'Add some text here.'
        item.contentEditable = true

        item.addEventListener('click', (event) => {
            bring_to_front(event.target);
        })

        item.addEventListener('dblclick', (event) => {
            remove_item(event.target);
        })

        canvas.appendChild(item)
        bring_to_front(item);

        item.style.left = wrapper.getBoundingClientRect().width / 2 + wrapper.scrollLeft + 'px'
        item.style.top = wrapper.getBoundingClientRect().height / 2 + wrapper.scrollTop + 'px'


        save_current();
    }

    function bring_to_front(element) {
        document.querySelectorAll('.dropped').forEach(d => {
            d.style.zIndex = ''
        });

        element.style.zIndex = '1';
        save_current();
    }

    function remove_item(element) {
        element.parentNode.removeChild(element);
        save_current();
    }

    function init_slide_nav() {
        document.querySelector('.slide-nav').innerHTML = '';

        slides.forEach((el, i) => {
            add_slide_nav_button(i);
        })
    }

    function add_slide_nav_button(i) {
        let btn = document.createElement('button');

        btn.type = 'button';
        btn.innerHTML = i + 1;
        btn.classList.add('px-3', 'py-2', 'border', 'border-black', 'rounded-full')

        if (i == current_slide) {
            btn.classList.add('bg-black', 'hover:bg-white', 'text-white', 'hover:text-black')
        } else {
            btn.classList.add('hover:bg-black', 'hover:text-white')
        }

        btn.dataset.target = i;

        btn.addEventListener('click', (event) => {
            save_current();
            current_slide = parseInt(event.currentTarget.dataset.target);
            load_current();

            init_slide_nav()
            init_canvas()
        })

        document.querySelector('.slide-nav').appendChild(btn);
    }

    function save_current() {
        slides[current_slide].data = document.querySelector('.canvas').innerHTML.replace('"', '\"');
    }

    function load_current() {
        if (slides[current_slide].data != '') {
            document.querySelector('.canvas').innerHTML = slides[current_slide].data.replace('\"', '"');
        } else {
            document.querySelector('.canvas').innerHTML = '';
        }
    }
</script>