<?php
$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();

$sortHeadings = [
    [
        'label' => $translate('Title'),
        'value' => 'schema:name'
    ],
    [
        'label' => $translate('Created'),
        'value' => 'created'
    ],
    [
        'label' => $translate('Modified'),
        'value' => 'modified'
    ],
];

$this->htmlElement('body')->appendAttribute('class', 'item-set resource browse');
?>

<?php echo $this->searchFilters(); ?>

<div class="w-full mb-4">
    <form action="/s/explore/curation/append" method="post" class="flex items-center gap-2">
        <input type="text" name="collection_label" placeholder="Title for new collection" class="px-4 py-2 bg-white rounded-full" required>

        <button type="submit" class="inline-block px-4 py-2 bg-blue-600 text-white hover:bg-white hover:text-black rounded-full">Create new empty collection</button>
    </form>
</div>

<?php $this->trigger('view.browse.before'); ?>
<ul class="resource-list">
    <?php
    $headingTerm = $this->siteSetting('browse_heading_property_term');
    $bodyTerm = $this->siteSetting('browse_body_property_term');
    foreach ($itemSets as $itemSet) :
        $heading = $headingTerm ? $itemSet->value($headingTerm, ['default' => $translate('[Untitled]'), 'lang' => ($filterLocale ? [$lang, ''] : null)]) : $itemSet->displayTitle(null, ($filterLocale ? [$lang, ''] : null));
        $body = $bodyTerm ? $itemSet->value($bodyTerm, ['lang' => ($filterLocale ? [$lang, ''] : null)]) : $itemSet->displayDescription(null, ($filterLocale ? [$lang, ''] : null));
    ?>
        <li class="item-set resource p-4 mb-2 border border-black">
            <?php if ($itemSetThumbnail = $this->thumbnail($itemSet, 'medium')) : ?>
                <?php echo $itemSet->linkRaw($itemSetThumbnail); ?>
            <?php endif; ?>
            <h4 class="text-xl font-bold"><?php echo $itemSet->link($heading); ?></h4>
            <?php if ($body) : ?>
                <div class="description"><?php echo $body; ?></div>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
</ul>

<div>
    <?php echo $this->sortSelector($sortHeadings); ?>
</div>

<div class="browse-controls flex fixed bottom-0 left-0 w-full">
    <?php echo $this->pagination(); ?>
</div>

<?php $this->trigger('view.browse.after'); ?>