<?php
$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$this->htmlElement('body')->appendAttribute('class', 'item resource browse');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();

$query = $this->params()->fromQuery();
$itemSetShow = isset($itemSet);
if ($itemSetShow) :
    $this->htmlElement('body')->appendAttribute('class', 'item-set');
    $query['item_set_id'] = $itemSet->id();

    $items_search = $this->api()
        ->search('items', [
            'item_set_id' => $itemSet->id(),
            'resource_template_id' => [
                5, 6, 7, 9, 11
            ],
            'page' => $_REQUEST['page'] ?? 1,
            'per_page' => $_REQUEST['per_page'] ?? 25
        ]);

    $items = $items_search->getContent();
    $total_results = $items_search->getTotalResults();
endif;
$sortHeadings = [
    [
        'label' => $translate('Title'),
        'value' => 'schema:title'
    ],
    [
        'label' => $translate('Class'),
        'value' => 'resource_class_label'
    ],
    [
        'label' => $translate('Created'),
        'value' => 'created'
    ],
    [
        'label' => $translate('Modified'),
        'value' => 'modified'
    ],
];
?>

<?php if (!$itemSetShow) : ?>
    <div class="my-2">
        <div class="italic text-sm mb-2">
            <?php echo $this->searchFilters(); ?>
        </div>
    </div>
<?php else : ?>

    <style>
        #item-grid .item {
            width: 33%;
        }

        @media (max-width: 758px) {
            #item-grid .item {
                width: 50%;
            }
        }

        @media (max-width: 480px) {
            #item-grid .item {
                width: 100%;
            }
        }
    </style>
<?php endif; ?>

<?php if ($itemSetShow) : ?>
    <h2 class="text-4xl mb-2"><?= $itemSet->displayTitle(null, ($filterLocale ? $lang : null)) ?></h2>
    <div class="md:flex gap-4">
        <div class="w-full md:w-1/2 mb-8">
        <?php endif; ?>

        <?php if (!$itemSetShow) : ?>
            <div class="w-full mb-4 selection hidden">
                <form action="/s/explore/curation/append" method="post" class="flex items-center gap-2">
                    <input type="hidden" name="url" value="<?= "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" ?>">

                    <span class="text-xl">
                        <span class="selection-amount">0</span>
                        <span>Items selected</span>
                    </span>

                    <select name="collection_id" id="collection_id" class="slim" style="max-width: 260px;">
                        <option value="">Choose existing collection…</option>
                        <?php

                        $collections = $this->api()->search('item_sets')->getContent();

                        ?>
                        <?php foreach ($collections as $key => $collection) : ?>
                            <?php if ($collection->isOpen()) : ?>
                                <option value="<?= $collection->id() ?>"><?= $collection->displayTitle() ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                    <input type="text" name="collection_label" placeholder="…or add to new collection" class="px-4 py-2 bg-white rounded-full">

                    <button type="submit" class="inline-block px-4 py-2 bg-blue-600 text-white hover:bg-white hover:text-black rounded-full">Save selection</button>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    document.querySelectorAll('.selection-item').forEach((el) => {
                        el.addEventListener('change', () => {
                            let selection_count = document.querySelectorAll('.selection-item:checked').length;
                            if (selection_count > 0) {
                                document.querySelector('.selection-amount').innerHTML = selection_count;
                                document.querySelector('.selection').classList.remove('hidden')
                            } else {
                                document.querySelector('.selection').classList.add('hidden')
                            }
                        })
                    })
                })
            </script>
        <?php endif; ?>

        <?php $this->trigger('view.browse.before'); ?>

        <?= $this->partial('participatory-archives/common/render-items-grid', [
            'itemSetShow' => $itemSetShow,
            'itemSet' => $itemSet,
            'items' => $items
        ]) ?>

        <?php if (!$itemSetShow) : ?>
            </form>
        <?php endif; ?>

        <?php if ($itemSetShow) : ?>
        </div>
        <div class="min-h-screen w-full md:w-1/2 bg-white p-4 shadow-2xl">
            <?php if ($itemSet->displayDescription()) : ?>
                <div class="mb-4">
                    <?= $itemSet->displayDescription() ?>
                </div>
            <?php endif; ?>

            <a class="inline-block py-2 px-4 border border-black bg-white text-black rounded-full hover:bg-black hover:text-white" href="/s/explore/reactions/create?collection_id=<?= $itemSet->id() ?>">Add item</a>

            <?php

            $calls = $this->api()
                ->search('items', [
                    'item_set_id' => $itemSet->id(),
                    'resource_template_id' => 10,
                ])->getContent();

            ?>

            <h3 class="text-xl mt-8 mb-4 border-b border-black">Calls</h3>
            <?php if (count($calls) > 0) : ?>
                <ul class="resource-list mb-4">
                    <?php foreach ($calls as $call) : ?>
                        <li class="item-set">
                            <span>&mdash;</span>
                            <a href="/s/explore/calls/show/<?= $call->id() ?>" class="underline"><?= $call->displayTitle() ?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <a class="inline-block py-2 px-4 border border-black bg-white text-black rounded-full hover:bg-black hover:text-white" href="/s/explore/calls/create?collection_id=<?= $itemSet->id() ?>">Create Call</a>

            <?php

            $children = $this->api()->search('item_sets', [
                'property' => [
                    [
                        'property' => 1626,
                        'type' => 'res',
                        'text' => $itemSet->id()
                    ]
                ]
            ])->getContent();

            ?>
            <?php if (count($children) > 0) : ?>
                <h3 class="text-xl mt-8 mb-4 border-b border-black">Subcollections</h3>
                <ul class="resource-list mb-4">
                    <?php foreach ($children as $child) : ?>
                        <?php if ($child->isOpen()) : ?>
                            <li class="item-set">
                                <span>&mdash;</span>
                                <a href="<?= $child->url() ?>" class="underline"><?= $child->displayTitle() ?></a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>

            <?php if ($itemSet->value('schema:isPartOf')) : ?>
                <h3 class="text-xl mt-8 mb-4 border-b border-black">Parentcollections</h3>
                <ul class="resource-list mb-4">
                    <?php foreach ($itemSet->value('schema:isPartOf', ['all' => true]) as $parent) : ?>
                        <li>&mdash; <span class="underline"><?= $parent->asHtml() ?></span></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>

            <?php

            $contexts = $this->api()
                ->search('items', [
                    'item_set_id' => $itemSet->id(),
                    'resource_template_id' => 12,
                ])->getContent();

            ?>

            <h3 class="text-xl mt-8 mb-4 border-b border-black">Contexts</h3>
            <?php if (count($contexts) > 0) : ?>
                <ul class="resource-list mb-4">
                    <?php foreach ($contexts as $context) : ?>
                        <li class="item-set">
                            <span>&mdash;</span>
                            <a href="/s/explore/contexts/show/<?= $context->id() ?>" class="underline"><?= $context->displayTitle() ?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <a class="inline-block py-2 px-4 border border-black bg-white text-black rounded-full hover:bg-black hover:text-white" href="/s/explore/contexts/create?collection_id=<?= $itemSet->id() ?>">Create Context</a>

            <div class="metadata">
                <h3 class="text-xl mt-8 mb-2 border-b border-black">Metadaten</h3>
                <?php echo $itemSet->displayValues(); ?>
            </div>

            <?php if ($this->identity()) : ?>
                <div class="border border-gray-400 p-2 mb-4 mt-8 text-sm">
                    <ul class="flex gap-2 items-center mb-4">
                        <li><span class="italic text-xs">More Views</span></li>
                        <li><a target="_blank" class="underline" href="https://<?= $_SERVER['HTTP_HOST'] ?>/api/item_sets/<?= $itemSet->id() ?>">JSON-LD</a></li>
                        <li><a target="_blank" class="underline" href="https://iiif.participatory-archives.ch/collections/<?= $itemSet->id() ?>.json">IIIF Collection</a></li>
                        <li><a class="underline" href="/s/explore/explore/nearby?item_set_id=<?= $itemSet->id() ?>">Map</a></li>
                    </ul>
                    <ul class="flex gap-2 items-center">
                        <li><span class="italic text-xs">More Actions</span></li>
                        <li><a class="underline" href="/admin/item-set/<?= $itemSet->id() ?>/edit">Edit</a></li>
                        <li><a class="underline" href="/s/explore/explore/memory/<?= $itemSet->id() ?>">Play Memory</a></li>
                        <form action="/s/explore/curation/appendCollection" method="post" class="flex align-middle gap-2">
                            <input type="hidden" name="url" value="<?= "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" ?>">
                            <input type="hidden" name="child_id" value="<?= $itemSet->id() ?>">
                            <select name="parent_id" id="parent_id" class="ml-2 slim">
                                <option value="">Add as sub-collection to…</option>
                                <?php

                                $collections = $this->api()->search('item_sets')->getContent();

                                ?>
                                <?php foreach ($collections as $key => $collection) : ?>
                                    <?php if ($collection->isOpen() && $collection->id() != $itemSet->id()) : ?>
                                        <option value="<?= $collection->id() ?>"><?= $collection->displayTitle() ?></option>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </select>
                            <button type="submit" class="underline">Add</button>
                        </form>
                    </ul>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>

<div class="browse-controls flex fixed bottom-0 left-0 w-full">
    <?php echo $this->pagination(); ?>
    <!--<div>
        <?php echo $this->sortSelector($sortHeadings); ?>
    </div>-->
</div>

<?php $this->trigger('view.browse.after'); ?>