<?php

$this->headLink()->appendStylesheet('https://unpkg.com/leaflet@1.8.0/dist/leaflet.css');
$this->headLink()->appendStylesheet('https://rawgit.com/heyman/leaflet-areaselect/master/src/leaflet-areaselect.css');
$this->headScript()->appendFile('https://unpkg.com/leaflet@1.8.0/dist/leaflet.js');
$this->headScript()->appendFile('https://cdn.rawgit.com/mejackreed/Leaflet-IIIF/v1.2.2/leaflet-iiif.js');
$this->headScript()->appendFile('https://cdn.rawgit.com/heyman/leaflet-areaselect/da8905695db78354ddd5b5d9de6ef13699b9d7a7/src/leaflet-areaselect.js');

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$this->htmlElement('body')->appendAttribute('class', 'item resource show');
$embedMedia = $this->siteSetting('item_media_embed', false);
$itemMedia = $item->media();

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
?>

<?php $this->trigger('view.show.before'); ?>

<h2 class="text-4xl mb-4"> <?= $item->displayTitle(null, ($filterLocale ? $lang : null)) ?> </h2>
<div class="md:flex gap-4">
    <div class="w-full mb-8 md:w-1/2">

        <?php if ($item->value('schema:image')) : ?>
            <div id="iiif-image" class="w-full bg-black" style="min-height: calc(100vh - 160px);"></div>
        <?php endif; ?>

        <?php if ($item->value('pia:piageometry')) : ?>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.8/wicket.min.js" integrity="sha512-aaiN+QIXD0N9Id865vSDEfttZJV9v8ZGh7jXMnYI2zbZhkSYOulS4IH0u4pC61/KXT20UedYzL5xi5siIg6mlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <div id="map" class="map h-screen w-full z-40"></div>

            <script>
                document.addEventListener('DOMContentLoaded', () => {

                    let center = [<?= explode(',', $item->value('schema:geo'))[0] ?>, <?= explode(',', $item->value('schema:geo'))[1] ?>],
                        map, marker, wkt = new Wkt.Wkt();

                    map = L.map('map', {
                        center: center,
                        zoom: 12,
                        doubleClickZoom: false
                    })

                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/light-v10',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoidGhnaWV4IiwiYSI6ImNrcjF5Z2ZxZDI2bWYydnFhMWw0eDV2YjIifQ.CZJtOXLy-IZeI6a5ia8Lzw'
                    }).addTo(map);

                    marker = new L.Marker(center).addTo(map);

                    <?php if ($item->value('pia:piageometry')) : ?>
                        let outline = L.geoJSON({
                            "type": "Feature",
                            "geometry": wkt.read('<?= $item->value('pia:piageometry') ?>').toJson()
                        }).addTo(map);

                        map.fitBounds(outline.getBounds());
                    <?php endif; ?>

                });
            </script>

        <?php endif; ?>

        <?php if ($itemMedia) : ?>
            <?php foreach ($itemMedia as $media) : ?>
                <?php if (str_contains($media->mediaType(), 'video')) : ?>
                    <div>
                        <video src="<?= $media->originalUrl() ?>" controls class="w-full"></video>
                    </div>
                <?php else : ?>
                    <div class="mb-4"><?= $this->thumbnail($media, 'large'); ?></div>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>

        <?php if ($embedMedia && $itemMedia) : ?>
            <div class="media-embeds">
                <?php foreach ($itemMedia as $media) : ?>
                    <div class="mb-4">
                        <?php if (str_contains($media->mediaType(), 'video')) : ?>
                            <video src="<?= $media->originalUrl() ?>" controls></video>
                        <?php else : ?>
                            <?= $media->render() ?>
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>

    </div>
    <div class="w-full md:w-1/2">
        <h3 class="text-xl mb-2 border-b border-black">In Collections</h3>
        <ul>
            <?php $collection_ids = [];
            $itemSets = $item->itemSets(); ?>
            <?php foreach ($itemSets as $itemSet) : ?>
                <?php if ($itemSet->isOpen()) : $collection_ids[] = $itemSet->id(); ?>
                    <li>&mdash; <a href="<?php echo $escape($itemSet->url()); ?>" class="underline"><?php echo $itemSet->displayTitle(null, ($filterLocale ? $lang : null)); ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>

        <?php if (count($collection_ids) > 0) : ?>

            <?php

            $calls = $this->api()
                ->search('items', [
                    'item_set_id' => $collection_ids,
                    'resource_template_id' => 10
                ])->getContent();

            ?>

            <?php if (count($calls)) : ?>
                <h3 class="text-xl mt-8 mb-2 border-b border-black">In Calls</h3>
                <ul>
                    <?php foreach ($calls as $call) : ?>
                        <li>&mdash; <a href="<?= '/s/explore/calls/show/' . $call->id() ?>" class="underline"><?= $call->displayTitle() ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>

        <?php endif; ?>

        <?php if ($item->value('schema:suggestedAnswer')) : ?>
            <h3 class="text-xl mt-8 mb-2 border-b border-black">Questionnaire</h3>
            <?php foreach ($item->value('schema:suggestedAnswer', ['all' => true]) as $key => $answer) : ?>
                <h4 class="text-sm italic"><?= $answer->jsonSerialize()['@annotation']['schema:question'][0] ?></h4>
                <p class="mb-2"><?= $answer->value() ?></p>
            <?php endforeach; ?>
        <?php endif; ?>

        <?php if ($item->value('schema:image')) : ?>
            <div class="md:flex">
                <div class="w-full md:w-1/2">
                    <h3 class="text-xl mt-8 mb-2 border-b border-black">Views</h3>
                    <ul>
                        <li>&mdash; <a target="_blank" class="underline" href="https://graph.participatory-archives.ch/?item=<?= $item->id() ?>">Graph</a></li>
                        <li>&mdash; <a target="_blank" class="underline" href="https://mirador.participatory-archives.ch/?manifest=https://iiif.participatory-archives.ch/<?= $item->value('schema:identifier') ?>/manifest.json">Mirador</a></li>
                        <li>&mdash; <a target="_blank" class="underline" href="https://similarity.participatory-archives.ch/?url=<?= $item->value('schema:image')->uri() . '/full/^299,299/0/default.jpg' ?>">Similar</a></li>
                        <li>&mdash; <a target="_blank" class="underline" href="<?= $item->value('schema:image')->uri() . '/full/max/0/default.jpg' ?>">IIIF Image</a></li>
                        <li>&mdash; <a target="_blank" class="underline" href="https://iiif.participatory-archives.ch/<?= $item->value('schema:identifier') ?>/manifest.json">IIIF Manifest</a></li>
                        <li>&mdash; <a target="_blank" class="underline" href="https://<?= $_SERVER['HTTP_HOST'] ?>/api/items/<?= $item->ID() ?>">JSON-LD</a></li>
                    </ul>
                </div>

                <div class="w-full md:w-1/2">
                    <h3 class="text-xl mt-8 mb-2 border-b border-black">Actions</h3>
                    <ul>
                        <li>&mdash; <a class="underline" href="/s/explore/reactions/create?item_id=<?= $item->id() ?>&redirect_id=<?= $item->id() ?>">React</a></li>
                        <li>
                            &mdash; <button id="clipping" data-init="false" class="underline">Search by clipping</button>
                        </li>
                        <li>&mdash; <a target="_blank" class="underline" href="https://memes.participatory-archives.ch/?image=<?= $item->value('schema:image')->uri() . '/full/800,/0/default.jpg' ?>">Memeify</a></li>
                        <li>
                            <form action="/s/explore/curation/append" method="post" class="align-middle gap-1 flex">
                                <input type="hidden" name="url" value="<?= "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" ?>">
                                <input type="hidden" name="<?= $item->id() ?>" id="<?= $item->id() ?>">
                                <span>&mdash; </span>
                                <select name="collection_id" id="collection_id" class="slim inline-block" style="max-width: 200px;">
                                    <option value="">Add to collection</option>
                                    <?php

                                    $collections = $this->api()->search('item_sets')->getContent();

                                    ?>
                                    <?php foreach ($collections as $key => $collection) : ?>
                                        <?php if ($collection->isOpen()) : ?>
                                            <option value="<?= $collection->id() ?>"><?= $collection->displayTitle() ?></option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </select>
                                <button type="submit" class="underline inline-block">Add</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        <?php endif; ?>

        <div class="problematic-content">
            <h3 class="text-xl mt-8 mb-2 border-b border-black">Problematic Content?</h3>
            <ul>
                <li class="mb-2"><span class="text-red-600">&mdash;</span> <a class="inline-block px-2 py-1 border border-red-600 hover:bg-red-600 hover:text-white transition-colors rounded-full" href="mailto:content@participatory-archives.ch?subject=Problematic Content Found&body=I found some problematic content under <?= "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" ?>.%0D%0A%0D%0AWhy do you experience this content to be problematic? Please help us by elaborating below:">Report problematic content to us</a></li>
                <!-- <li><span class="text-red-600">&mdash;</span> <a class="inline-block px-2 py-1 border border-red-600 hover:bg-red-600 hover:text-white transition-colors rounded-full" href="mailto:content@participatory-archives.ch?subject=Suggestion for Trigger Warning&body=I want to suggest a trigger warning for the content under <?= "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" ?>.%0D%0A%0D%0APlease suggest and elaborate on your trigger warning below:">Suggest trigger warning</a></li> -->
            </ul>
        </div>

        <div class="metadata">
            <h3 class="text-xl mt-8 mb-2 border-b border-black">Metadaten</h3>
            <?php echo $item->displayValues(); ?>
        </div>
    </div>
</div>



<?php if (($this->siteSetting('show_attached_pages', true)) && ($sitePages = $item->sitePages($site->id()))) : ?>
    <div class="property">
        <h4><?php echo $translate('Site pages'); ?></h4>
        <div class="values">
            <?php foreach ($sitePages as $sitePage) : ?>
                <div class="value"><?php echo $sitePage->link($sitePage->title()); ?></div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<?php
$page = $this->params()->fromQuery('page', 1);
$property = $this->params()->fromQuery('property');
$subjectValues = $item->displaySubjectValues($page, 25, $property);
?>
<?php if ($subjectValues) : ?>
    <div id="item-linked">
        <h3><?php echo $translate('Linked resources'); ?></h3>
        <?php echo $subjectValues; ?>
    </div>
<?php endif; ?>

<?php $this->trigger('view.show.after'); ?>

<?php if ($item->value('schema:image')) : ?>
    <script>

        let image, iiif_layer, area_select, beeping,
            base_url = '<?= str_replace('http:', 'https:', $item->value('schema:image')->uri()) ?>';;

        document.addEventListener('DOMContentLoaded', () => {
            beeping = new Audio('/themes/participatory-archives/asset/beeping.mp3');

            image = L.map('iiif-image', {
                center: [0, 0],
                crs: L.CRS.Simple,
                zoom: 0,
                dragging: !L.Browser.mobile,
                tap: !L.Browser.mobile
            });

            iiif_layer = L.tileLayer.iiif(base_url + '/info.json', {
                tileSize: 512
            }).addTo(image);

            document.querySelector('#clipping').addEventListener('click', event => {
                if(event.currentTarget.dataset.init == 'false') {
                    event.currentTarget.dataset.init = 'true';
                    init_clipping();
                } else {
                    window.open(get_clipping(), '_blank');
                }
            })
        });

        function init_clipping() {
            beeping.play();

            area_select = L.areaSelect({
                width: 100,
                height: 100
            });

            area_select.addTo(image);
        }

        function get_clipping() {
            var bounds = area_select.getBounds();
            var zoom = image.getZoom();
            var min = image.project(bounds.getSouthWest(), zoom);
            var max = image.project(bounds.getNorthEast(), zoom);
            var imageSize = iiif_layer._imageSizes[zoom];
            var xRatio = iiif_layer.x / imageSize.x;
            var yRatio = iiif_layer.y / imageSize.y;
            var region = [
                Math.floor(min.x * xRatio),
                Math.floor(max.y * yRatio),
                Math.floor((max.x - min.x) * xRatio),
                Math.floor((min.y - max.y) * yRatio)
            ];
            
            return 'https://similarity.participatory-archives.ch/?url=' + base_url + '/' + region.join(',') + '/^299,299/0/default.jpg';
        }
    </script>
<?php endif; ?>