<?php

$items = $this->randomItems(16, $useCache = true);

?>

<h2 class="text-4xl mb-4">Objects of the moment</h2>
<div id="item-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
    <?php foreach ($items as $key => $item) : ?>
        <div class="item resource p-0">
            <?php

            $url = $item->url();

            if ($item->resourceTemplate()->id() == 10) {
                $url = '/s/explore/calls/show/' . $item->id();
            }

            ?>
            <a href="<?= $url ?>" class="relative">
                <?php if ($item->value('schema:image')) : ?>
                    <img src="<?= $item->value('schema:image')->uri() ?>/full/640,/0/default.jpg" class="w-full pointer-events-none">
                <?php elseif ($item->media()) : ?>
                    <?= $this->thumbnail($item->media()[0], 'large'); ?>
                <?php else : ?>
                    <span class="flex border border-black items-center justify-center h-full px-2 py-6">
                        <h4><?= $item->displayTitle() ?></h4>
                    </span>
                <?php endif; ?>
            </a>
        </div>
    <?php endforeach; ?>
</div>