<?php
$translate = $this->plugin('translate');
$hyperlink = $this->plugin('hyperlink');
$url = $this->plugin('url');
$this->htmlElement('body')->appendAttribute('class', 'index search');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
?>

<?php echo $this->pageTitle(sprintf($translate('Search results for “%s”'), $query)); ?>

<?php if (empty($results)): ?>
    <p><?php echo $translate('No result found'); ?></p>
<?php else: ?>
<?php
$resourceLabels = [
    'site_pages' => 'Site pages', // @translate
    'items' => 'Items', // @translate
    'item_sets' => 'Collections', // @translate
    'media' => 'Media', // @translate
];
$resourceControllers = [
    'site_pages' => 'page',
    'items' => 'item',
    'item_sets' => 'item-set',
    'media' => 'media',
];
?>
    <?php foreach ($results as $resourceName => $result): ?>
<div class="<?php echo $resourceName; ?> results">
    <h2 class="text-4xl mt-4 mb-4"><?php echo $translate($resourceLabels[$resourceName]); ?></h2>

    <?php echo $hyperlink(
            sprintf($translate('View all results (%s total)'), $result['total']),
            $url(
                'site/resource',
                ['controller' => $resourceControllers[$resourceName], 'action' => 'browse'],
                ['query' => ['fulltext_search' => $query]],
                true
            ),
            ['class' => 'px-2 py-1 border border-black mb-4 inline-block'],
        ); ?>

    <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-2">
        <?php foreach ($result['resources'] as $resource): ?>
        <li class="relative p-0">
            <span class="absolute top-0 left-0 text-xs px-1 bg-black text-white"><?= $resource->displayResourceClassLabel(); ?></span>
            <?php if($resource->value('schema:image')): ?>
                <a href="<?= $resource->url() ?>">
                    <img src="<?= $resource->value('schema:image')->uri() ?>/full/640,/0/default.jpg" alt="" style="max-width: 100%;">
                </a>
            <?php else: ?>
                <a href="<?= $resource->url() ?>" class="flex border border-black items-center justify-center h-full px-2 py-6">
                    <h4><?= $resource->displayTitle() ?></h4>
                </a>
            <?php endif; ?>
        </li>
        <?php endforeach; ?>
    </ul>
        
</div>
    <?php endforeach; ?>
<?php endif; ?>
