<?php

$collection_id = '';

foreach ($item->itemSets() as $key => $item_set) {
    $collection_id = $item_set->id();
}

$items = $this->api()
    ->search('items', [
        'item_set_id' => $collection_id,
    ])->getContent();

?>

<div>
    <h2 class="text-4xl mb-2"><?= $item->displayTitle() ?></h2>

    <div class="w-full bg-white p-4 mb-4 shadow-2xl">
        <?php if ($item->displayDescription()) : ?>
            <div class="mb-4">
                <?= $item->displayDescription() ?>
            </div>
        <?php endif; ?>

        <!--<a class="py-2 px-4 border border-black bg-white text-black rounded-full hover:bg-black hover:text-white" href="/s/explore/reactions/create?item_id=<?= $item->id() ?>&collection_id=<?= $collection_id ?>&redirect_id=<?= $item->id() ?>">React</a>-->

        <h3 class="text-xl mb-2 border-b border-black">Call for collections</h3>
        <ul class="resource-list">
            <?php foreach ($item->itemSets() as $item_set) : ?>
                <?php if ($item_set->isOpen()) : ?>
                    <li>&mdash; <a class="underline" href="<?= $item_set->url() ?>"> <?= $item_set->displayTitle(); ?> </a></li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>


    <?php foreach ($items as $key => $call_item) : ?>
        <?php if (!in_array($call_item->resourceTemplate()->id(), [10, 11])) : ?>
            <div class="border border-gray-300 p-3 mb-4 flex flex-row items-center gap-8 overflow-x-auto">

                <div class="relative" style="min-width: 200px; width: 200px; min-height: 200px;">
                    <?= $this->partial('participatory-archives/common/render-item', [
                        'item' => $call_item,
                        'extra' => true
                    ]) ?>
                </div>

                <a href="/s/explore/reactions/create?item_id=<?= $call_item->id() ?>&collection_id=<?= $collection_id ?>&redirect_id=<?= $item->id() ?>" class="rounded-full border border-black text-center text-4xl block" style="line-height: 80px; min-width: 80px;">+</a>

                <div class="flex flex-row flex-shrink-0 items-end gap-2">

                    <?php

                    $reactions = $this->api()
                        ->search('items', [
                            'property' => [
                                [
                                    'property' => 814,
                                    'type' => 'res',
                                    'text' => $call_item->id()
                                ]
                            ]
                        ])->getContent();

                    ?>
                    <?php foreach ($reactions as $r_key => $reaction) : ?>
                        <div class="relative" style="min-width: 200px; min-height: 200px; max-height: 300px;">
                            <div style="max-width: 300px;">
                                <?= $this->partial('participatory-archives/common/render-item', [
                                    'item' => $reaction,
                                ]) ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>

    <?php if($this->identity()): ?>
    <div class="border border-gray-400 p-2 mb-4 mt-8 text-sm">
        <ul class="flex gap-2 items-center">
            <li><span class="italic text-xs">More Actions</span></li>
            <li><a class="underline" href="/admin/item/<?= $item->id() ?>/edit">Edit</a></li>
            <li><a class="underline" href="/s/explore/calls/export-csv/<?= $item->id() ?>">Export CSV</a></li>
            <li><a class="underline" href="/s/explore/calls/export-media/<?= $item->id() ?>">Export Media</a></li>
        </ul>
    </div>
    <?php endif; ?>
</div>