<?php

$collection_id = '';

foreach ($item->itemSets() as $key => $item_set) {
    $collection_id = $item_set->id();
}

$reactions = $this->api()
    ->search('items', [
        'item_set_id' => $collection_id,
        'resource_template_id' => 11
    ])->getContent()

?>

<style>
    #item-grid .item {
        width: 33%;
    }

    @media (max-width: 758px) {
        #item-grid .item {
            width: 50%;
        }
    }

    @media (max-width: 480px) {
        #item-grid .item {
            width: 100%;
        }
    }
</style>

<h2 class="text-4xl mb-2"><?= $item->displayTitle() ?></h2>

<div class="block md:flex md:flex-row-reverse gap-4">
    <div class="min-h-screen w-full md:w-1/2 mb-8 bg-white p-4 shadow-2xl">
        <?php if ($item->displayDescription()) : ?>
            <div class="mb-4">
                <?= $item->displayDescription() ?>
            </div>
        <?php endif; ?>

        <a class="inline-block py-2 px-4 border border-black bg-white text-black rounded-full hover:bg-black hover:text-white" href="/s/explore/reactions/create?item_id=<?= $item->id() ?>&collection_id=<?= $collection_id ?>&redirect_id=<?= $item->id() ?>">React</a>

        <h3 class="text-xl mt-8 mb-2 border-b border-black">Call for collections</h3>
        <ul class="resource-list mb-4">
            <?php foreach ($item->itemSets() as $item_set) : ?>
                <?php if ($item_set->isOpen()) : ?>
                    <li>&mdash; <a class="underline" href="<?= $item_set->url() ?>"> <?= $item_set->displayTitle(); ?> </a></li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>

        <?php if (count($reactions) > 0) : ?>
            <h3 class="text-xl mt-8 mb-2 border-b border-black">Reactions</h3>
            <?php $count = 0;
            foreach ($reactions as $key => $reaction) : $count++;
                $odd = $count % 2; ?>
                <div class="ml-8 mr-8"></div>
                <div class="border border-grey-700 p-3 mb-2 <?= !$odd ? 'ml-8' : 'mr-8' ?>">
                    <h4 class="italic"><?= $reaction->displayTitle() ?></h4>
                    <?php if ($reaction->value('schema:comment') != '') : ?>
                        <?= $reaction->value('schema:comment') ?>
                    <?php endif; ?>
                    <?php foreach ($reaction->media() as $media) : ?>
                        <div class="my-1"><?= $this->thumbnail($media, 'large'); ?></div>
                    <?php endforeach; ?>
                    <table class="text-xs italic mt-2">
                        <?php if ($reaction->value('schema:creator') != '') : ?>
                            <tr>
                                <td class="pr-2">Author</td>
                                <td><?= $reaction->value('schema:creator') ?></td>
                            </tr>
                        <?php endif; ?>
                        <?php if ($reaction->value('schema:geo') != '') : ?>
                            <tr>
                                <td class="pr-2">Coordinates</td>
                                <td><a class="underline" href="/s/explore/explore/nearby?geo[around][latitude]=<?= explode(',', $reaction->value('schema:geo'))[0] ?>&geo[around][longitude]=<?= explode(',', $reaction->value('schema:geo'))[1] ?>"><?= $reaction->value('schema:geo') ?></a></td>
                            </tr>
                        <?php endif; ?>
                        <?php if ($reaction->value('schema:temporal') != '') : ?>
                            <tr>
                                <td class="pr-2">Date</td>
                                <td><?= $reaction->value('schema:temporal') ?></td>
                            </tr>
                        <?php endif; ?>
                    </table>
                    <!--<div class="text-right">
                        <a class="underline" href="/s/explore/reactions/create?item_id=<?= $reaction->id() ?>&collection_id=<?= $collection_id ?>"">React</a>
                    </div>-->
                </div>
            <?php endforeach; ?>
        <?php endif; ?>

        <?php if ($this->identity()) : ?>
            <div class="border border-gray-400 p-2 mb-4 mt-8 text-sm">
                <ul class="flex gap-2 items-center">
                    <li><span class="italic text-xs">More Actions</span></li>
                    <li><a class="underline" href="/admin/item/<?= $item->id() ?>/edit">Edit</a></li>
                    <li><a class="underline" href="/s/explore/calls/export-csv/<?= $item->id() ?>">Export CSV</a></li>
                    <li><a class="underline" href="/s/explore/calls/export-media/<?= $item->id() ?>">Export Media</a></li>
                </ul>
            </div>
        <?php endif; ?>

    </div>
    <div class="w-full md:w-1/2 mb-4">
        <?= $this->partial('participatory-archives/common/render-items-grid', [
            'itemSetShow' => true,
            'items' => $this->api()
                ->search('items', [
                    'item_set_id' => $collection_id,
                    'resource_template_id' => [
                        5, 6, 7, 9, 11
                    ],
                    'page' => $_REQUEST['page'] ?? 1,
                    'per_page' => $_REQUEST['per_page'] ?? 25
                ])->getContent()
        ]) ?>
    </div>
</div>