<aside class="fixed right-0 transition-all md:overflow-y-auto md:overflow-x-hidden bg-white shadow-2xl h-screen">
    <div class="w-full pt-4">
        <a href="/s/explore/item-set" class="view-all-collections p-2 ml-2 border border-black text-xs absolute top-4 right-2">View All</a>
        <button class="aside-open-button px-3">
            <span class="aside-closed-icon">
                <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </span>
            <span class="aside-opened-icon">
                <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </span>
        </button>
        <!--<a class="leading-10 hover:underline font-bold" href="{{ route('collections.index') }}">All Collections</a>-->

        <ul class="w-full mt-10 md:mt-0">
            <?php

            $collections = $this->api()->search('item_sets', [
                'sort_by' => 'created',
                'sort_order' => 'desc'
            ])->getContent();

            ?>
            <?php foreach ($collections as $collection) : ?>
                <?php if ($collection->isOpen()) : ?>
                    <li class="flex justify-between px-3 py-2 border-b border-gray-500">
                        <span class="aside-open-button block w-10 h-10 leading-10 rounded-full border border-gray-500 text-center text-xs cursor-pointer"><?= $collection->itemCount() ?></span>
                        <a class="collection-label leading-10 hover:underline" href="<?= $collection->url() ?>"><?= $collection->displayTitle() ?></a>
                        <span class="context-count inline-block w-10 h-10 leading-10 border border-gray-500 text-center text-xs">
                            <!-- context count -->
                        </span>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</aside>