<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css">

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

<?php if(count($items) == 0): ?>
    <h3 class="text-xl mb-2 px-4 py-2 bg-red-600 text-white inline-block rounded-full">Nothing found on current map view.</h3>
<?php endif; ?>
<div id="map" class="map nearby w-full z-40"></div>
<div class="mt-4 text-right">
    <button type="button" class="p-2 border border-black mb-2 rounded-full px-4 hover:bg-black hover:text-white" onclick="get_location()">Locate yourself on the map</button>
    <button type="button" class="p-2 ml-2 border border-black rounded-full px-4 hover:bg-black hover:text-white" onclick="search()">Search within current map view</button>
</div>

<script>
    const options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    let map, markers;

    function success(pos) {
        const crd = pos.coords;

        location_string = '?geo[around][latitude]=' + crd.latitude.toFixed(6) + '&geo[around][longitude]=' + crd.longitude.toFixed(6);

        const params = new URLSearchParams(window.location.search);
        
        if (params.get('item_set_id')) {
            location_string += '&item_set_id='+params.get('item_set_id');
        }

        window.location = location_string;
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    function get_location() {
        navigator.geolocation.getCurrentPosition(success, error, options);
        if (navigator.permissions && navigator.permissions.query) {
            //try permissions APIs first
            navigator.permissions.query({
                name: 'geolocation'
            }).then(function(result) {
                // Will return ['granted', 'prompt', 'denied']
                const permission = result.state;
                if (permission === 'granted' || permission === 'prompt') {
                    on_get_current_location();
                }
            });
        } else if (navigator.geolocation) {
            //then Navigation APIs
            on_get_current_location();
        }
    }

    function on_get_current_location() {
        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    function init_map() {
        const params = new URLSearchParams(window.location.search);
        
        let center = [46.715779,8.402655],
            marker, radius, zoom = 14;

        if (params.get('geo[around][latitude]') && params.get('geo[around][longitude]')) {
            center = [params.get('geo[around][latitude]'), params.get('geo[around][longitude]')];
        }


        if (params.get('zoom')) {
            zoom = params.get('zoom');
        }

        map = L.map('map', {
            center: center,
            zoom: zoom,
            maxZoom: 18
        });
        markers = L.markerClusterGroup();

        map.addLayer(markers);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/light-v10',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidGhnaWV4IiwiYSI6ImNrcjF5Z2ZxZDI2bWYydnFhMWw0eDV2YjIifQ.CZJtOXLy-IZeI6a5ia8Lzw'
        }).addTo(map);

        marker = new L.circleMarker(center, {
            stroke: false
        }).addTo(map);

        if(params.get('geo[around][radius]')) {
            radius = new L.circle(center, {
                radius: params.get('geo[around][radius]'),
                stroke: false,
                color: '#0000ff',
                fillOpacity: 0.05
            }).addTo(map);
        }

        let options = {
            stroke: false,
            fillColor: '#00ff00',
            fillOpacity: 0.5
        }

        <?php foreach($items as $key => $item): ?>
            <?php

                $latitude = explode(',', $item->value('schema:geo'))[0];
                $longitude = explode(',', $item->value('schema:geo'))[1];

            ?>
            
            <?php if($item->value('schema:image')): ?>
                options['fillColor'] = '#0000ff';
            <?php endif; ?>
            
            <?php if($item->resourceTemplate()->id() == 11): ?>
                options['fillColor'] = '#ff0000';
            <?php endif; ?>

            <?php if($latitude && $longitude): ?>
            L.circleMarker([<?= $latitude ?>, <?= $longitude ?>], options)
                // .bindTooltip('<?= $item->value('schema:name') ?>')
                <?php if($item->value('schema:image')): ?>
                .bindPopup(
                    `<a href="<?= $item->url() ?>"><img src="<?= $item->value('schema:image')->uri() ?>/full/320,/0/default.jpg"/><br><span><?= $item->resourceTemplate()->label(); ?>: <?= $item->displayTitle() ?></span></a>`,
                    {
                        minWidth: 320,
                        closeButton: false
                    }
                )
                <?php elseif($item->media()): ?>
                .bindPopup(
                    `<a href="<?= $item->url() ?>"><?= $this->thumbnail($item->media()[0], 'large'); ?><br><span><?= $item->resourceTemplate()->label(); ?>: <?= $item->displayTitle() ?></span></a>`,
                    {
                        minWidth: 320,
                        closeButton: false
                    }
                )
                <?php else: ?>
                .bindPopup(
                    `<a href="<?= $item->url() ?>"><?= $item->resourceTemplate()->label(); ?>: <?= $item->displayTitle() ?></a>`,
                    {
                        minWidth: 320,
                        closeButton: false
                    }
                )
                <?php endif; ?>
                .on('click', function (e) {
                    this.openPopup();
                })
                .addTo(markers);
            <?php endif; ?>
        <?php endforeach; ?>

        if (params.get('item_set_id')) {
            map.fitBounds(markers.getBounds());
        }
    }

    function search() {
        const params = new URLSearchParams(window.location.search);

        let zoom = map.getZoom(),
            center = map.getCenter(),
            bounds = map.getBounds();

        window.location = '?geo[around][latitude]=' + center.lat.toFixed(6) + '&geo[around][longitude]=' + center.lng.toFixed(6) +
            '&zoom=' + zoom + '&6.48662&geo[around][radius]=' + Math.round(map.distance([center.lat, center.lng], map.containerPointToLatLng([map.getSize().x / 2, 0]))) + '&geo[around][unit]=m';
    }

    document.addEventListener('DOMContentLoaded', () => {
        const params = new URLSearchParams(window.location.search);

        if (window.location.href.indexOf('geo[around][latitude]') == -1 && !params.get('item_set_id')) {
            get_location();
        }
        
        init_map();
    });
</script>