<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<div class="block md:flex gap-4">
    <div class="w-full md:w-1/2 text-center">
        <?php if (isset($_GET['item_id'])) : ?>
            <p class="text-sm italic mb-2">You are reacting to…</p>
            <div style="max-width: 640px; margin: 0 auto 1rem;" class="mb-4 relative">
                <?= $this->partial('participatory-archives/common/render-item', [
                    'item' => $this->api()->read('items', $_GET['item_id'])->getContent()
                ]) ?>
            </div>
        <?php endif; ?>
    </div>
    <div class="min-h-screen w-full md:w-1/2 bg-white p-4 shadow-2xl">

        <h2 class="text-4xl mb-4">
            <?php if (isset($_GET['item_id'])) : ?>
                React
            <?php else : ?>
                Add Item
            <?php endif; ?>
        </h2>

        <form action="/s/explore/reactions/store" method="post" enctype="multipart/form-data">

            <?php if (isset($_GET['item_id'])) : ?>
                <input type="hidden" name="item_id" value="<?= $_GET['item_id'] ?>">
            <?php endif; ?>

            <?php if (isset($_GET['collection_id'])) : ?>
                <input type="hidden" name="collection_id" value="<?= $_GET['collection_id'] ?>">
            <?php endif; ?>

            <?php if (isset($_GET['redirect_id'])) : ?>
                <input type="hidden" name="redirect_id" value="<?= $_GET['redirect_id'] ?>">
            <?php elseif (isset($_GET['item_id'])) : ?>
                <input type="hidden" name="redirect_id" value="<?= $_GET['item_id'] ?>">
            <?php endif; ?>

            <div class="mb-6">
                <label class="mb-1 text-xs">Title *</label>
                <h2 class="text-2xl">
                    <input type="text" name="name" value="" class="w-full border border-gray-300 p-1 px-2" required placeholder="Title">
                </h2>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Author of this reaction</label>
                <div class="mb-2">
                    <input type="text" name="creator" placeholder="Author" class="w-full mt-1 border border-gray-300 p-1 px-2" value="<?= $this->identity() ? $this->identity()->getName() : '' ?>"></input>
                </div>
            </div>

            <?php if (isset($_GET['item_id'])) : ?>
                <?php

                $reacted_item = $this->api()->read('items', $_GET['item_id'])->getContent();

                if ($reacted_item->value('schema:question') != '') : ?>

                    <div class="my-6">
                        <label class="mb-1 text-xs">Questions</label>
                        <div class="mb-2">
                            <?php foreach ($reacted_item->value('schema:question', ['all' => true]) as $key => $question): ?>
                                <div>
                                    <h4><i><?= $question ?></i> *</h4>
                                    <textarea name="answers[]" class="w-full mt-1 border border-gray-300 p-1 px-2" required></textarea>
                                    <input type="hidden" name="questions[]" value="<?= $question ?>">
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>

                <?php endif; ?>
            <?php endif; ?>

            <div class="my-6">
                <label class="mb-1 text-xs">Comment</label>
                <div class="mb-2">
                    <div class="quill" data-target="comment" class="w-full mt-1 border border-gray-300 p-1 px-2"></div>
                    <textarea name="comment" placeholder="What do you want to say" class="hidden"></textarea>
                </div>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Date</label>
                <div class="mb-2">
                    <input type="date" name="date" placeholder="Date" class="w-full mt-1 border border-gray-300 p-1 px-2"></input>
                </div>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Coordinates</label>
                <div class="mb-2">
                    <input type="text" name="coordinates" placeholder="Coordinates" class="w-full mt-1 border border-gray-300 p-1 px-2"></input>
                    <p class="mt-1 text-xs">Provide coordinates in the form of "latitude,longitude".</p>
                    <button type="button" id="locate" class="mt-1 px-2 py-1 rounded-full bg-white border border-black hover:bg-black hover:text-white text-sm">Grab coordinates from your position</button> <button type="button" id="map_coordinates" class="mt-1 px-2 py-1 rounded-full bg-white border border-black hover:bg-black hover:text-white text-sm">Choose coordinates on map</button>
                    <div id="map" class="w-full mt-2 hidden" style="height: 300px;"></div>
                </div>
            </div>

            <div class="my-6 mb-4">
                <label class="mb-1 text-xs">Media and documents</label>
                <div class="mb-2">
                    <input type="file" name="file[]" placeholder="Media and documents" class="w-full mt-1 border border-gray-300 p-1 px-2" multiple></textarea>
                </div>
            </div>

            <!--<div class="my-6">
                <label class="mb-1 text-xs">Keywords</label>
                <div class="mb-2">
                    <select name="keywords[]" class="w-full slim" multiple>
                        <option value="">-</option>
                        @foreach ($keywords as $keyword)
                            <option value="{{ $keyword->id }}" {{ $call->keywords->contains($keyword->id) ? 'selected' : '' }}>{{ $keyword->label }}</option>
                        @endforeach
                    </select>
                </div>
            </div>-->

            <p class="text-sm font-bold mb-4">By sending this form you accept to publish your material under a <a href="https://creativecommons.org/licenses/by/4.0/" class="underline">Creative Commons BY license</a>. That means you are the copyright owner, and it allows us and others to work with the material as long as this credit is given due.</p>

            <button type="submit" class="px-4 py-2 border border-black hover:bg-black hover:text-white rounded-full">React</button>

        </form>
    </div>
</div>

<script>
    const options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    let center = [46.715779, 8.402655],
        map, marker;

    function success(pos) {
        const crd = pos.coords;

        update_marker([crd.latitude, crd.longitude])
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    function get_location() {
        navigator.geolocation.getCurrentPosition(success, error, options);
        if (navigator.permissions && navigator.permissions.query) {
            //try permissions APIs first
            navigator.permissions.query({
                name: 'geolocation'
            }).then(function(result) {
                // Will return ['granted', 'prompt', 'denied']
                const permission = result.state;
                if (permission === 'granted' || permission === 'prompt') {
                    on_get_current_location();
                }
            });
        } else if (navigator.geolocation) {
            //then Navigation APIs
            on_get_current_location();
        }
    }

    function on_get_current_location() {
        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    function init_map() {
        map = L.map('map', {
            center: center,
            zoom: 16,
            maxZoom: 20
        }).on('click', (event) => {
            update_marker([event.latlng.lat, event.latlng.lng]);
        });

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 20,
            id: 'mapbox/light-v10',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidGhnaWV4IiwiYSI6ImNrcjF5Z2ZxZDI2bWYydnFhMWw0eDV2YjIifQ.CZJtOXLy-IZeI6a5ia8Lzw'
        }).addTo(map);

        marker = L.marker(center).addTo(map);
    }

    function update_marker(center) {
        if (map) {
            marker.setLatLng(center);
            map.panTo(center);
        }

        document.querySelector('[name="coordinates"]').value = center[0].toFixed(6) + ',' + center[1].toFixed(6);
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#locate').addEventListener('click', () => {
            get_location();
        });
        document.querySelector('#map_coordinates').addEventListener('click', () => {
            document.querySelector('#map').classList.remove('hidden');
            init_map();
        });
    });
</script>