<div class="block md:flex gap-4">
    <div class="w-full md:w-1/2">
        <?= $this->partial('participatory-archives/common/render-items-grid', [
            'itemSetShow' => true,
            'items' => $this->api()
                ->search('items', [
                    'item_set_id' => $_GET['collection_id'],
                ])->getContent()
        ]) ?>
    </div>
    <div class="min-h-screen w-full md:w-1/2 bg-white p-4 shadow-2xl">

        <h2 class="text-4xl mb-4">Create new context</h2>

        <form action="/s/explore/contexts/store" method="post">

            <input type="hidden" name="collection_id" value="<?= $_GET['collection_id'] ?>">
            <input type="hidden" name="user_id" value="<?= '' ?>">

            <div class="mb-12">
                <label class="mb-1 text-xs">Title</label>
                <h2 class="text-2xl">
                    <input type="text" name="name" value="" class="w-full border border-gray-300 p-1 px-2" required placeholder="Title">
                </h2>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Context Type</label>
                <div class="mb-2">
                    <select name="type" class="w-full slim border border-gray-300 p-2 bg-white">
                        <option value="1">Slides</option>
                        <option value="2">Notes</option>
                    </select>
                </div>
                <p class="text-sm"></p>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Description</label>
                <div class="mb-2">
                    <textarea name="description" placeholder="Description of context" class="w-full mt-1 border border-gray-300 p-1 px-2"></textarea>
                </div>
            </div>

            <button type="submit" class="px-3 py-2 border border-black float-right">Create context</button>

        </form>
    </div>
</div>