<ul id="item-grid" class="resource-list grid grid-cols-1 md:grid-cols-3 <?php if (!$itemSetShow) : ?>lg:grid-cols-5<?php endif; ?> gap-2">
    <?php
    $filterLocale = (bool) $this->siteSetting('filter_locale_values');
    $lang = $this->lang();
    $headingTerm = $this->siteSetting('browse_heading_property_term');
    $bodyTerm = $this->siteSetting('browse_body_property_term');

    foreach ($items as $item) : ?>
        <li class="item resource p-0">
            <div class="relative">
                <?= $this->partial('participatory-archives/common/render-item', [
                    'item' => $item
                ]) ?>

                <?php if (!$itemSetShow) : ?>
                    <input type="checkbox" name="<?= $item->id() ?>" id="<?= $item->id() ?>" class="selection-item absolute top-1 right-1 cursor-pointer" style="width: 24px; height: 24px;">
                <?php else : ?>
                    <?php if (isset($itemSet)) : ?>
                        <form action="/s/explore/curation/remove" method="post">
                            <input type="hidden" name="collection_id" value="<?= $itemSet->id() ?>">
                            <input type="hidden" name="item_id" value="<?= $item->id() ?>">
                            <button class="absolute top-1 right-1 bg-red-500 text-white rounded-full text-sm text-center" style="width: 25px; height: 20px; line-height: 20px;">X</button>
                        </form>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        </li>
    <?php endforeach; ?>
</ul>