<?php

$itemMedia = $item->media();
$url = $item->url();

$rt_id = 0;
$rt_label = "";

if ($item->resourceTemplate()) {
    $rt_id = $item->resourceTemplate()->id();
    $rt_label = $item->resourceTemplate()->label();
}

if ($rt_id == 10) {
    $url = '/s/explore/calls/show/' . $item->id();
} else if ($rt_id == 12) {
    $url = '/s/explore/contexts/show/' . $item->id();
}

?>
<span class="absolute bottom-0 right-0 text-xs px-1 bg-black text-white"><?= $rt_label ?></span>

<a href="<?= $url ?>" title="<?= $item->displayTitle() ?>">
    <?php if ($item->value('schema:image')) : ?>
        <img src="<?= str_replace('http:', 'https:', $item->value('schema:image')->uri()) ?>/full/640,/0/default.jpg" class="w-full pointer-events-none">
        <?php if ($extra) : ?>
            <span class="text-xs inline-block mt-1"><?= $item->displayTitle() ?></span>
        <?php endif ?>
    <?php elseif ($itemMedia) : ?>

        <?php if (str_contains($itemMedia[0]->mediaType(), 'video')) : ?>
            <div class="video">
                <video src="<?= $itemMedia[0]->originalUrl() ?>" controls></video>
            </div>
        <?php else : ?>
            <div class="img">
                <?= $this->thumbnail($itemMedia[0], 'large'); ?>
            </div>
        <?php endif; ?>

        <style>
            .img img {
                width: auto;
            }
        </style>
    <?php else : ?>
        <span class="flex border border-black bg-gray-300 items-center justify-center h-full px-2 py-20">
            <h4><?= $item->displayTitle() ?></h4>
        </span>
    <?php endif; ?>
</a>