<div class="w-1/5 max-h-full bg-black overflow-y-hidden">
    <div class="h-full px-4 pt-4 overflow-y-scroll">
        <?php foreach ($items as $key => $item) : ?>
            <?php if ($item->resourceTemplate()->id() != 12) : ?>
                <?php $itemMedia = $item->media(); ?>
                <a class="block relative mb-4 draggable" draggable="true" data-id="<?= $item->id() ?>" data-url="<?= $item->url() ?>">
                    <?php if ($item->value('schema:image')) : ?>
                        <img src="<?= $item->value('schema:image')->uri() ?>/full/480,/0/default.jpg" class="w-full">
                    <?php elseif ($itemMedia) : ?>
                        <?= $this->thumbnail($itemMedia[0], 'large'); ?>
                    <?php endif; ?>
                </a>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>