<div class="block md:flex gap-4">
    <div class="w-full md:w-1/2">
        <?= $this->partial('participatory-archives/common/render-items-grid', [
            'itemSetShow' => true,
            'items' => $this->api()
                ->search('items', [
                    'item_set_id' => $_GET['collection_id'],
                ])->getContent()
        ]) ?>
    </div>
    <div class="min-h-screen w-full md:w-1/2 bg-white p-4 shadow-2xl">

        <h2 class="text-4xl mb-4">Create new call</h2>

        <form action="/s/explore/calls/store" method="post">

            <input type="hidden" name="collection_id" value="<?= $_GET['collection_id'] ?>">

            <div class="mb-12">
                <label class="mb-1 text-xs">Title</label>
                <h2 class="text-2xl">
                    <input type="text" name="name" value="" class="w-full border border-gray-300 p-1 px-2" required placeholder="Title">
                </h2>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Call Type</label>
                <div class="mb-2">
                    <select name="type" class="w-full border border-gray-300 p-2 bg-white">
                        <option value="1">Sammel Call</option>
                        <option value="2">Reaction Call</option>
                    </select>
                </div>
                <p class="text-xs">
                    <b>Sammel call</b> lets the visitor send in comments, photos and more on the level of the collection. With a <b>reaction call</b> the user can react on the level of an object of the collection. The two calls have different layouts.
                </p>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Description</label>
                <div class="mb-2">
                    <div class="quill" data-target="description" class="w-full mt-1 border border-gray-300 p-1 px-2"></div>
                    <textarea name="description" placeholder="Description of call" class="hidden"></textarea>
                </div>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Questions</label>
                <div class="mb-2">
                    <textarea name="questions" placeholder="Questions accompanying the call" class="w-full mt-1 border border-gray-300 p-1 px-2"></textarea>
                </div>
                <p class="text-xs">
                    <b>One question per line.</b> The questions are shown when people are reacting/responding to the call.
                </p>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Start Date</label>
                <div class="mb-2">
                <input type="date" name="start_date" value="" class="w-full border border-gray-300 p-1 px-2">
                </div>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">End Date</label>
                <div class="mb-2">
                <input type="date" name="end_date" value="" class="w-full border border-gray-300 p-1 px-2">
                </div>
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Coordinates</label>
                <div class="mb-2">
                    <?php

                        $locations = $this->api()
                            ->search('items', [
                                'resource_template_id' => 5,
                            ])->getContent()

                    ?>
                    <select name="location_id" class="w-full slim bg-white">
                        <option value="">Take from a location…</option>
                        <?php foreach ($locations as $key => $location): ?>
                            <option value="<?= $location->id() ?>"><?= $location->displayTitle() ?></option>
                        <?php endforeach; ?>
                    </select>
                    <p class="my-2">…or provide your own</p>
                    <input type="text" name="coordinates" placeholder="Coordinates" value="" class="w-1/2 border border-gray-300 p-1 px-2">
                    <p class="mt-1 text-xs">Provide coordinates in the form of "latitude,longitude". Get your own coordinates <a class="underline" target="_blank" href="https://www.gps-coordinates.net/">here</a>.</p>
                </div>
                
            </div>

            <div class="my-6">
                <label class="mb-1 text-xs">Keywords</label>
                <div class="mb-2">
                    <input type="text" name="keywords" value="" class="w-full border border-gray-300 p-1 px-2">
                    <p class="mt-1 text-xs">Enter your keywords, comma-separated</p>
                </div>
            </div>

            <button type="submit" class="px-3 py-2 border border-black float-right">Create call</button>

        </form>
    </div>
</div>